@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Tortoise Page!</h1>
    <p>Learn about tortoises and turtles  <a href="https://en.wikipedia.org/wiki/Tortoise#:~:text=Tortoises%20(%2F%CB%88t%C9%94%CB%90r.,from%20predation%20and%20other%20threats.">reading wiki pages</a>.</p>
     <p>@ViewData["Message"]</p>
</div>